*::selection {
  color: black;
  background: yellow;
}

* {
  scroll-behavior: smooth;
  font-family: "Jost Variable", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

body {
  font-family: "DM Sans Variable", sans-serif;
  background: black;
  line-height: 20px;
  letter-spacing: 1.3px;
  color: #e0e0e0;
  scroll-behavior: smooth;
}
