/* *::selection {
  color: #f2f2f2;
  background: black;
} */

body {
  font-family: "DM Sans Variable", sans-serif;
  background: #080808;
  line-height: 26px;
  letter-spacing: 1.2px;
  color: #e0e0e0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f7f7f7;
}
