@font-face {
  font-family: "Satoshi-Variable";
  src: url("/fonts/Satoshi-Variable.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*::selection {
  color: black;
  background: #2bfa3c;
}

* {
  font-family: "Satoshi-Variable", sans-serif;
}

html {
  /* scroll-behavior: smooth; */
}

body {
  background: black;
  line-height: 1.5rem;
  letter-spacing: 1.2px;
  font-size: 16px;
  font-weight: 300;
  color: #f6f6f6;
  overflow-x: none;
  max-width: 100%;
}

h1 {
  line-height: 1.2rem;
  letter-spacing: -0.5px;
}