---
import Experience from "../sections/Experience.astro";
import Footer from "../components/Footer.astro";
import GridBackground from "../components/GridBackground.astro";
import Hero from "../sections/Hero.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Navbar from "../components/Navbar.astro";
import NonTechProjects from "../sections/NonTechProjects.astro";
import Projects from "../sections/Projects.astro";
import MouseFollower from "../components/MouseFollower.astro";
---

<MainLayout>
  <GridBackground />
  <Navbar />
  <main class="flex flex-col gap-8 md:gap-24 h-full">
    <Hero />
    <Projects />
    <Experience />
    <NonTechProjects />
    <Footer />
  </main>
  <MouseFollower />
</MainLayout>
