<div id="bg-noise" class="fixed h-full w-full bg-black -z-10">
  <div
    class="absolute inset-0 bg-[radial-gradient(169.40%_89.55%_at_94.76%_6.29%,rgba(35,0,130,0.30)_0%,rgba(255,255,255,0.00)_100%)]"
  >
  </div>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#2d4beb2e_1px,transparent_1px),linear-gradient(to_bottom,#0828CF2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
  >
  </div>
</div>
<style>
  #bg-noise::before {
    @apply absolute left-0 top-0 h-full w-full transform-gpu bg-repeat opacity-20;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-size: 280px;
    mix-blend-mode: hard-light;
    opacity: 0.2;
  }
</style>
