<section id="experience" class="container hidden md:block py-8">
  <h1 class="text-4xl font-semibold mb-10">Work Experience</h1>

  <div class="flex flex-row gap-2 px-40 justify-center">
    <div class="flex flex-col gap-2 items-center pr-24">
      <div class="size-3 min-w-3 min-h-3 rounded-full bg-white mt-2"></div>
      <div class="h-full w-[1px] rounded-full bg-gray-100"></div>
    </div>
    <div class="min-w-fit mr-6">
      <span class="text-gray-400">Nov 2016 — Jul 2020</span>
    </div>
    <div class="pb-24">
      <h3 class="font-semibold mb-6 text-xl">
        FUNIBER — Junior Full-Stack Web Developer
      </h3>

      <ul class="list-disc flex flex-col gap-4 ml-10 text-gray-400">
        <li>
          Successfully designed and developed T.N.T, a system for university
          degree processes's management, redefining business processes and
          <span class="font-semibold text-white"
            >reducing application time by x500, from weeks to minutes</span
          >.
        </li>
        <li>
          Significantly <span class="font-semibold text-white"
            >decreased errors caused by human intervention by 90%</span
          >, enhancing system reliability and accuracy using T.N.T.
        </li>
        <li>
          Implemented a bookings management and issues tracker web application
          for Universidad Europea del Atlántico's Students Residence, <span
            class="font-semibold text-white"
            >decreasing by 60% of incorrect room assignments, solving hosts
            issues 50% faster</span
          >, and automation reports generation.
        </li>
      </ul>
    </div>
  </div>

  <div class="flex flex-row gap-2 px-40">
    <div class="flex flex-col gap-2 items-center pr-24">
      <div class="size-3 min-w-3 min-h-3 rounded-full bg-white mt-2"></div>
      <div class="h-full w-[1px] rounded-full bg-gray-100"></div>
    </div>
    <div class="min-w-fit mr-6">
      <span class="text-gray-400">Jul 2020 — Jan 2024</span>
    </div>
    <div class="pb-24">
      <h3 class="font-semibold mb-6 text-xl">
        Softec Cloud — Full-Stack Web Developer
      </h3>

      <ul class="list-disc flex flex-col gap-4 ml-10 text-gray-400">
        <li>
          <span class="font-semibold text-white"
            >Reduced, by 30% in average, the delivery time in packages delivery</span
          > for a supermarket company by implementing a management dashboard and
          optimal route generator system.
        </li>
        <li>
          Created and deployed <span class="font-semibold text-white"
            >over +30 static web applications with a traffic of +50k users
            monthly</span
          > for Repsol Luz y Gas, ensuring lead generation, managing contract updates
          requests and implementing new business logics for existing user’s contracts.
        </li>
        <li>
          Contribute to the creation of Cañía, a mobile app for Covid results
          registration, <span class="font-semibold text-white"
            >boosting efficiency and a significantly reduction of errors</span
          > on Catabria's Public Health System resutls’s registration processes.
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-row gap-2 px-40">
    <span class="text-xl relative -left-1">👀</span>
  </div>
</section>
