---
const EXPERIENCE = [
  {
    role: "Junior Full-Stack Developer",
    company: "FUNIBER",
    date: "Nov 2016 — Jul 2020",
    activities: [
      "<b>Reduced by 99.8% the application's time (from weeks to minutes)</b> for university certificates requests by implementing a responsive progressive web application with a bespoke business logic.",
      "<b>Decreased, by 90%, errors caused by human intervention</b> on university certificates requests.",
      "Developed a bookings management and issues tracker web application for a Students Residence, <b>decreasing by 60% of incorrect room assignments, improved issues solving 200% faster, and automation reports generation</b>.",
    ],
  },
  {
    role: "Full-Stack Developer",
    company: "Diatomea Technology",
    date: "Jul 2020 — Mar 2022",
    activities: [
      "<b>Reduced by 30% delivery times</b> by developing a serverless web application with AWS infrastructure for managing delivery routes and packages vehicles storage optimization for a supermarket chain.",
      "Developed a mobile app for covid-19 tests results management, <b>boosting results registration by 300%</b> on a Public Health System.",
      "Migrated a KPIs monitoring web app for an industrial wire manufacturing company, built with ReactJS (SPA) and migrated to NextJS (SSR) <b>improving its performance by 50%</b> on thin client operators devices.",
    ],
  },
  {
    role: "Full-Stack Developer",
    company: "Softec Cloud",
    date: "Mar 2022 — Jan 2024",
    activities: [
      "Developed  <b>over +35 NextJS/AngularJS websites with an average traffic of +50k users per month</b>.",
      "Migrated the main contracting process for hiring electricity and gas services for a large company, from PHP to test-driven AngularJS web app, <b>resulting in a 10% increase in the annual revenue</b> for the business line.",
      "Designed and developed a components library with ReactJS and TailwindCSS for unifying all design systems of each company's web application.",
    ],
  },
];
---

<section id="experience" class="container py-8">
  <h1 class="text-4xl font-semibold mb-10">Work Experience</h1>

  {
    EXPERIENCE.map((experience) => (
      <div class="flex flex-row gap-2 px-2 md:px-10 justify-start md:justify-center">
        <div class="flex flex-col gap-2 items-center p-0 md:pr-24">
          <div class="size-3 min-w-3 min-h-3 rounded-full bg-white mt-2" />
          <div class="h-full w-[1px] rounded-full bg-gray-100" />
        </div>
        <div class="grid grid-cols-12 gap-6">
          <div class="min-w-fit col-span-12 md:col-span-3 w-full md:text-end pt-1">
            <span class="text-gray-400 ml-auto">{experience.date}</span>
          </div>
          <div class="pb-16 col-span-12 md:col-span-9">
            <h3 class="font-semibold mb-6 text-xl">
              {experience.company} — {experience.role}
            </h3>

            <ul class="list-disc flex flex-col gap-4 ml-10 text-gray-400">
              {experience.activities.map((activity) => (
                <li>
                  <span set:html={activity} />
                </li>
              ))}
            </ul>
          </div>
        </div>
      </div>
    ))
  }

  <div class="flex flex-row gap-2 px-2 md:px-10">
    <span class="text-xl relative -left-1">👀</span>
  </div>
</section>
