---
import { Icon } from "astro-icon/components";
import USEFUL_LINKS from "../constants/usefulLinks";
import { useTranslation } from "../lib/useTranslation";
import HeroImage from "../components/HeroImage.astro";

const t = useTranslation();
---

<header class="container flex flex-col gap-8 items-center pt-16">
  <HeroImage />
  <div class="flex flex-col gap-8 items-center">
    <h1 class="text-5xl md:text-6xl font-semibold text-center">
      {t("hero.title1")}
      <br />
      {t("hero.title2")}
      <span id="my-name" class="text-5xl md:text-6xl font-semibold"
        >{t("hero.title3")}</span
      >
    </h1>
    <div class="flex flex-col gap-0 items-center">
      <h2 class="mt-4 md:mt-0 text-3xl text-center">{t("hero.subtitle")}</h2>
      <h2 class="text-yellow-400 py-2 px-6 rounded-full font-bold">
        OPEN TO WORK!
      </h2>
    </div>
  </div>
  <ul
    class="flex flex-col md:flex-row gap-4 my-4 text-black w-full justify-center"
  >
    {
      USEFUL_LINKS.map((link) => {
        return (
          <li>
            <a href={link.url} target="_blank">
              <div class="text-black bg-gray-200 px-6 py-4 rounded-lg flex flex-row gap-2 justify-center items-center hover:bg-white hover:pointer-cursor hover:scale-105 transition-all duration-200">
                <Icon name={link.icon} size={18} />
                {link.name}
                <Icon name="ic:round-arrow-outward" size={18} />
              </div>
            </a>
          </li>
        );
      })
    }
  </ul>

  <Icon name="mdi:chevron-double-down" size={32} class="animate-bounce" />
</header>

<style>
  #my-name {
    --bg-size: 200%;
    font-family: sans-serif;
    background: linear-gradient(90deg, #4f72f0, #e8383b, #6d92e8, #4f72f0) 0 0 /
      var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
  }

  @media (prefers-reduced-motion: no-preference) {
    #my-name {
      animation: move-bg 5s linear infinite;
    }

    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
</style>
