---
import CardNonTechProject from "../components/CardNonTechProject.astro";
import NON_TECH_PROJECTS from "../constants/nonTechProjects";
---

<section class="container flex flex-col gap-8">
  <div>
    <h1 class="text-4xl font-semibold mb-6">Non-Tech Projects</h1>
    <p class="text-gray-400 max-w-[1000px]">
      As a <span class="text-white font-semibold">restless mind</span> I love to
      deep dive in many topics, from finding the best way to brew coffee on an aeropress,
      to fixing mechanical watches and taking pictures with my analog cameras, here
      you can find non-tech projects that allows me to share my vision of the world
      we all live in:
    </p>
  </div>
  <ul class="grid grid-cols-6 gap-4">
    {
      NON_TECH_PROJECTS.map((project) => (
        <li class="col-span-6 md:col-span-3 lg:col-span-2">
          <CardNonTechProject project={project} />
        </li>
      ))
    }
  </ul>
</section>
