---
import CardNonTechProject from "../components/CardNonTechProject.astro";

const NON_TECH_PROJECTS = [
  {
    title: "@fers.watches",
    description:
      "I love watches, so I started an instagram account to share this passion with others.",
    href: "https://instagram.com/fers.watches",
    img: "/img/fers-watches.jpg",
  },
  {
    title: "@fervaas",
    description:
      "Photography is the way I have to share my worl's perspective, follow me on my photography account.",
    href: "https://instagram.com/fervaas",
    img: "/img/fervaas.png",
  },
];
---

<section id="non-tech-projects" class="container flex flex-col gap-8">
  <div>
    <h1 class="text-4xl font-semibold mb-6">Non-Tech Projects</h1>
    <p class="text-gray-400">
      As a <span class="text-white font-semibold">restless mind</span> I love to
      deep dive in many topics, from finding the best way to brew coffee on an aeropress,
      to fixing mechanical watches and taking pictures with my analog cameras, here
      you can find non-tech projects that allows me to share my vision of the world
      we all live in:
    </p>
  </div>
  <ul class="grid grid-cols-4 gap-4">
    {
      NON_TECH_PROJECTS.map((project) => (
        <li class="col-span-4 md:col-span-1">
          <CardNonTechProject project={project} />
        </li>
      ))
    }
  </ul>
</section>
