---
import ProjectsGallery from "../components/ProjectsGallery.astro";
---

<section id="projects" class="flex flex-col gap-8">
  <h1 class="container text-4xl font-semibold">Latest Projects</h1>
  <ProjectsGallery />
</section>
