---
const SKILLS = [
  { slug: "ts", lalbel: "TypeScript" },
  { slug: "js", lalbel: "JavaScript" },
  { slug: "html", lalbel: "HTML" },
  { slug: "css", lalbel: "CSS" },
  { slug: "react", lalbel: "React" },
  { slug: "astro", lalbel: "Astro" },
  { slug: "angular", lalbel: "Angular" },
  { slug: "nextjs", lalbel: "Next.js" },
  { slug: "cypress", lalbel: "Cypress" },
  { slug: "aws", lalbel: "AWS" },
  { slug: "tailwind", lalbel: "Tailwind" },
  { slug: "git", lalbel: "Git" },
];
---

<div class="row-span-1 col-span-12 px-24 flex flex-row gap-4">
  {
    SKILLS.map((skill) => (
      <img
        class="hover:scale-110 transition-transform duration-50 ease-in-out"
        src={`https://skillicons.dev/icons?i=${skill.slug}`}
        alt={`Icon of ${skill.lalbel}`}
      />
    ))
  }
</div>
