---
import BaseHead from "../components/BaseHead.astro";
import NoiseBackground from "../components/NoiseBackground.astro";
import LightsBackground from "../components/LightsBackground.astro";

const title = "Fervqz | Developer";
const description =
  "Welcome to my website, here you can find links to my GitHub, latest projects, blog, and more!";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <LightsBackground />
    <NoiseBackground />
    <slot />
  </body>
</html>
