---
import BaseHead from "../components/BaseHead.astro";
import ScrollToTop from "../components/ScrollToTop.astro";

const title = "Fervqz | Full-Stack Web Developer";
const description =
  "Welcome to my website, here you can find links to my GitHub, latest projects, blog, and more!";
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="overflow-x-hidden">
    <slot />
    <ScrollToTop />
  </body><script>
    import { $ } from "../lib/querySelector";
    const $html = $("html");
    window.addEventListener("load", () => {
      $html.style.scrollBehavior = "smooth";
    });
  </script>
</html>
